<h1>Welcome to Civic Duty</h1>
<h3>Created by: Team Civic Duty</h3>
<br>
<br>
<p>API's available:</p>
<ul>
    <li>/representative/ -- gets representatives with POST, "zip": "yourzipcode"</li>
    <li>/elections/ -- upcoming elections</li>
    <li>/polling/ -- get polling places/mail in vote stuff and ballot info for candidates & measures -- requires following through POST</li>
    <ul>
        <li><b>id</b> -- election id, should be gotten through representative API</li>
        <li><b>street</b> -- your street address</li>
        <li><b>city</b> -- your city</li>
        <li><b>zip</b> -- your zip code</li>
    </ul>
</ul>